{% extends "base.html" %}
{% block title %}Dagens rett{% endblock %}

{% block content %}
{% if rett %}
<div class="boks" style="margin: 0 auto; max-width: 300px;">
    <img src="{{ url_for('static', filename='img/meny/' ~ rett.bilde) }}" alt="{{ rett.navn }}" class="boks-bilde">
    <strong>{{ rett.navn }}</strong>
    <p>Dag: {{ rett.dag }}</p>
    <p>Kategori: {{ rett.kategori }}</p>
    {% if rett.allergener %}
        <p><em>Allergier:</em> {{ rett.allergier | join(', ') }}</p>
    {% endif %}
</div>
{% else %}
<p>Ingen rett i dag 😅</p>
{% endif %}
{% endblock %}
