body {
    margin: 0; 
    padding-top: 30px; /* Legger til topp-padding for å beholde avstanden over topbaren */
    padding-left: 60px;
    padding-bottom: 51px; /* Legger til bunn-padding for å beholde avstanden under bunnteksten */
    font-family: 'Inter', sans-serif;
    background-color: #ffff;
}

p {
    padding-left: 60px;
}

.title-index {
    font-size: 48px;
    color: #000;
}

.topbar {
    font-family: Arial, Helvetica;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    padding-bottom: 60px; /* Legger til luft mellom innhold og strek */
}

.logo img {
    height: 72px;
    width: auto;
    display: block;
    padding-right: 25px;
}

.logo {
    margin-left: 90px; /* juster verdien for mer/mindre flytting */
}

.topbar nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    font-size: 14px;
    color: #333;
}


nav a:hover {
    color: rgba(255, 166, 0, 0.672);
}

/* Legg til padding for hovedinnholdet og bunnteksten for å matche tidligere innrykk */
/* Dette vil påvirke alle direkte barn av body, unntatt topbar */
body > *:not(.topbar) {
    padding-left: 51px;
    padding-right: 51px;
}