<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="topbar">
            <header class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Akademiet logo"></header>
            <nav>
                <ul>
                    <li><a href="/">hejm</a></li>
                    <li><a href="/meny">Meny</a></li>
                    <li><a href="/kontakt">kontakt</a></li>
                    <li><a href="/varer">om</a></li>
                </ul>
            </nav>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer">copyright 2025</footer>
    </body>
</html>
