<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div>
            <header>Min flask nettside</header>
            <nav>
                <a href="/">hejm hjem</a>
                <a href="/home">hjem</a>
                <a href="/contact">kontakt</a>
                <a href="/about">om</a>
            </nav>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
