{% extends "base.html" %}

{% block title  %}Hjem{% endblock %}

{% block content %}
<h1 class="title-index">Vil du spise hos oss?</h1>
<p>Kantinen på Akademiet tilbyr fersk, variert og sunn mat laget med omtanke. <br> Vi legger vekt på kvalitet, gode råvarer og personlig service<br> – og ønsker at kantinen skal være et trivelig sted for både elever og lærere. <br> Hos oss finner du alt fra varme retter og salater til baguetter, yoghurt og frukt. <br> Akademiets kantine er stedet for påfyll, hygge og gode opplevelser i hverdagen..</p>
{% endblock %}
