{% extends "base.html" %}

{% block title  %}Hjem{% endblock %}

{% block content %}
<h1 class="title-index">Vil du spise hos oss?</h1>
<p class="brodtekst">
    Kantinen på Akademiet byr på <strong>ferske, smakfulle og varierte franske retter</strong> laget med omtanke.<br>
    Vi legger vekt på <strong>kvalitet, gode råvarer og personlig service</strong>, og ønsker at kantinen skal være et
    trivelig sted for både elever og lærere.<br>
    Hos oss finner du alt fra <strong>varme franske retter, supper og vegetariske alternativer</strong> – perfekt for en smakfull pause i hverdagen.<br>
    Akademiets kantine er stedet for <strong>påfyll, hygge og gode smaksopplevelser</strong>.
</p>
    
{% endblock %}
